.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    /* padding: 1rem; */
}

.services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    width: 100%;
    max-width: 1000px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background: #333232;
    /* background: linear-gradient(180deg, rgba(28, 28, 28, 1) 0%, rgba(5, 5, 5, 1) 100%); */
}

.bulb_icon {
    height:1.5rem;
    width: 1.5rem;
}

.title{
    font-size: 1.2rem;
}

.description{
    font-size: 0.8rem;
}

@media screen and (max-width:768px) {
    .services{
        grid-template-columns: repeat(1, 1fr);
    }
}