.main{
    /* display: flex; */
    /* grid-template-columns: 1fr 1fr; */
    /* gap: 1rem; */
    padding: 1rem;
    min-height: 100vh;
}

.card_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  height: 100%;
}


@media screen and (max-width:768px) {
  .card_container{
    grid-template-columns: 1fr;
  }
}