.card {
  /* width: 100%; */
  /* height: 50%; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  height: fit-content;
  background-color: var(--card-background);
  /* border: 2px solid grey; */
  border-radius: 8px;
}


.image_section {
  width: 100%;
  aspect-ratio: 16/9;
  /* or 4/3, 1/1 */
  overflow: hidden;
}

.image_section img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tags {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
}

.tags_container {
  /* border: 2px solid blue; */
  display: flex;
  flex-wrap: wrap;
  max-width: 70%;

}

.tags p {
  display: inline-block;
  padding: 6px 16px;
  background: #111;
  /* or your theme color */
  color: white;
  font-size: 14px;
  border-radius: 999px;
  /* makes capsule shape */
  border: 1px solid rgba(255, 255, 255, 0.2);
  /* optional subtle border */
  white-space: nowrap;
}

.arrow {
  cursor: pointer;
  display: flex;
  gap: 0.3rem;
}

.fadeImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
    transform: scale(1.002);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}