
.fields_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input_field{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 0.5rem;
    /* align-items: center; */
    margin-top: 1rem;
}

.input_field button{
    /* align-self: flex-start; */
    padding: 0.5rem 1rem;
    color: var(--primary-color);
    letter-spacing: 1px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}


.name_input{
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1.2px solid var(--secondary-color);
    border-radius: 7px;
    background: transparent;
}

.name_input::placeholder{
    color: #8987A1;
}

