.main {
    height: 100%;
    width: 100%;
}

.content {
    width: 80%;
    /* height: 100%; */
    padding: 0.2rem;
    margin: auto;
    background-image: url("../../assets/back.svg");
    background-size: cover;
    background-repeat: no-repeat;
    /* prevents tiling */
    background-position: center;
    /* centers the image */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.name {
    font-size: 3rem;
    font-weight: bold;
}

.profession {
    font-size: 1.5rem;
    font-weight: 500;
    background: linear-gradient(90deg, #4FC3F7, #0b97d7, #4FC3F7);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    justify-self: center;
    animation: colorShift 3s ease-in-out infinite;
}

.introduction {
    max-width: 70%;
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.8;
    color: #e0e0e0;
    /* subtle light gray for contrast */
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.3px;
}

.keyword {
    background: linear-gradient(90deg,
            #0066cc,
            /* darker blue */
            #004c99,
            /* deep blue tone */
            #006b8f,
            /* teal blue */
            #004c99,
            #0066cc);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: keywordShift 4s ease-in-out infinite;
}

.about_section{
    margin-top: 5rem;
}

.page_section{
    padding: 1rem;
    /* border: 2px solid white; */
}

@keyframes colorShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes keywordShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media (max-width:600px) {
    .name{
        font-size: 2rem;
    }
}