.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
}

.increment{
    width: 200px;
    padding: 0rem 1rem;
    color: black;
}
*{
    /* color: black; */
}

