.main{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
}

.screens_container{
  flex: 1;
  overflow: auto;
}

.navbar{
  position: fixed;
  width: 100vw;
  z-index: 100;
}