@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
}

:root {
    --primary-color: #1A1A1A;
    --secondary-color: #C1C1C1;
    --accent-color: #0d8bc6;
    --card-background: #2d2c2c;
}

.main {
    height: 100%;
    width: 100%;
}

.page-title {
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}

.keyword {
    background: linear-gradient(90deg,
            #0066cc,
            /* darker blue */
            #004c99,
            /* deep blue tone */
            #006b8f,
            /* teal blue */
            #004c99,
            #0066cc);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: keywordShift 4s ease-in-out infinite;
}


@keyframes colorShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes keywordShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 3px;
    /* Thin scrollbar */
    height: 6px;
    /* For horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: #000;
    /* Black background */
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    /* Red scroll bar */
    border-radius: 3px;
    /* Rounded corners */
}



html {
    scroll-behavior: smooth;
}

.PhoneInputInput {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1.2px solid var(--secondary-color);
    border-radius: 7px;
    background: transparent;
}

.PhoneInputCountrySelect option{
    background: var(--primary-color);
    color: var(--secondary-color);

}