/* Border Utilities */
html {
  scroll-behavior: auto;
}

.bd1 { border: 2px solid #e63946; } /* Red */
.bd2 { border: 2px solid #f77f00; } /* Orange */
.bd3 { border: 2px solid #ffba08; } /* Yellow */
.bd4 { border: 2px solid #43aa8b; } /* Green */
.bd5 { border: 2px solid #277da1; } /* Blue */
.bd6 { border: 2px solid #7209b7; } /* Purple */
.bd7 { border: 2px solid #3a0ca3; } /* Indigo */
.bd8 { border: 2px solid #f72585; } /* Pink */
.bd9 { border: 2px solid #6c757d; } /* Gray */
.bd10 { border: 2px solid #000000; } /* Black */

/* Background Utilities */
.bg1 { background-color: #e63946; } /* Red */
.bg2 { background-color: #f77f00; } /* Orange */
.bg3 { background-color: #ffba08; } /* Yellow */
.bg4 { background-color: #43aa8b; } /* Green */
.bg5 { background-color: #277da1; } /* Blue */
.bg6 { background-color: #7209b7; } /* Purple */
.bg7 { background-color: #3a0ca3; } /* Indigo */
.bg8 { background-color: #f72585; } /* Pink */
.bg9 { background-color: #6c757d; } /* Gray */
.bg10 { background-color: #000000; } /* Black */
